/*Global styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
  }
  
  h1 {
    font-size: 2.6rem;
  }

  li,
  button,
  label,
  input,
  p {
    font-size: 2rem;
  }
  h2 {
    font-size: 4.8rem;
  }
  h3 {
    font-size: 3rem;
    font-weight: normal;
  }
  h4,
  h5 {
    font-size: 2.8rem;
  }
  a {
    color:white;
    text-decoration: none;
  }
  li {
      list-style: none;
  }
  /*End of Gloabl style*/
  button {
      padding: 2rem 6rem;
      background: #4c6e97;
      color:white;
      font-size:2rem;
      border: none;
      cursor: pointer;
      transition: background 1s ease-in-out;
  }
  button:hover {
      background: #27394e;
  }
  .main-head {
    background: #131c27;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 2;
    
  }
  .main-head nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 90%;
      margin: auto;
      padding: 1.7rem;    
      min-height: 10vh;
      flex-wrap: wrap;
  }
  .nav-head{
    flex : 2 1 40rem;
    font-weight: 400;
      
  }
  .nav-list{
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    display: flex;
  }
  .hero {
    min-height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.8),transparent),url("./img/landing-page.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
 .hero h3 {
     padding: 5rem;
 }
 #Locations{
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.5),transparent),url("./img/new-york-page.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;

 }
 .locations-head{
     width: 90%;
     margin: auto;
 }
 .locations-head h2 {
     padding:1rem 0rem;
 }

 .locations-head h3 {
    padding:4rem 2rem;
    /*change color of the text by background color */
    background: linear-gradient(#131c27, #663b34);
    background-clip: text;
    -webkit-text-fill-color: transparent;

 }
/*Cloud Art*/
 .cloud {
     position:absolute;
     top:0;
     right:0;
 }
 .moving-cloud-1{
    animation: cloudAnimation 3s infinite alternate ease-in-out;
    

}
.moving-cloud-2{
    animation: cloudAnimation 3.5s infinite alternate ease-in-out;
    opacity: 0.5;
    top:20%;
    z-index: -1;
}
/* Cloud Animation */
@keyframes cloudAnimation {
    from {
      transform: translate(10%, -10%);
    }
    to {
      transform: translate(0%, 0%);
    }
  }

